body {
  background-color: rgb(97, 97, 97);
}
.main {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}
.main aside {
  max-width: 300px;
  background-color: #dddddd;
  color: #000000;
  display: block;
  font-size: 15px;
}
.main .aside h3 {
  margin-left: 40px;
}

.main .content {
  width: 600px;
  background-color: #ffffff;
  text-indent: 1.5em;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.main .content .header-cv {
  font-size: 30px;
  margin-bottom: 0;
}
.main .content .header-cv h1 {
  margin-left: 70px;
  font-size: 50px;
}
.main .content .header-cv h2 {
  margin-left: 70px;
  font-size: 30px;
}
.main .content h2 {
  margin-left: 30px;
}
.main .content p {
  margin-left: 20px;
  margin-right: 20px;
}
.content {
  padding-left: 20px;
  padding-right: 10px;
}
p {
  font-family: "Arial";
  margin: 0;
  padding: 0px;
}
h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
  text-indent: 0;
}
.main .content li {
  text-indent: 0;
}
.main .aside .fugure {
  padding: 50px;
}
section {
  padding-left: 15px;
}
section li {
  text-indent: 0;
}

footer {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  min-height: 50px;
  text-align: center;
}
footer p {
  padding: 40px;
  font-size: 15px;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #ffffff;
}
